<div class="flex">
  <div class="graph">
    <app-doughnut></app-doughnut>
  </div>
  <div class="formulaire">
    <div class="sondage">

      <!-- Inpolation -->
      <h2 class="text-center"> {{ title }} </h2>
      <form novalidate [formGroup]="vote" (ngSubmit)="saveVote(vote)">
        <div class="sondage">
          <div formGroupName="user">
            <div class="form-group" [ngClass]="{ 'has-error':  (vote.get('user.email').hasError('required') || vote.get('user.email').hasError('invalidFormat')) && vote.get('user.email').touched }">
              <label for="email" class="control-label block-label">
                Email
                <span *ngIf="vote.get('user.email').hasError('required') && vote.get('user.email').touched"> Ce champ est requis*</span>
                <span *ngIf="vote.get('user.email').hasError('invalidFormat') && vote.get('user.email').touched"> l' email doit être au format xxx.yyy@softeam.fr*</span>
              </label>
              <input type="email" formControlName="email" class="form-control no-radius" id="email" placeholder="Votre email">
            </div>
            <div class="form-group" [ngClass]="{ 'has-error':  vote.get('user.job').hasError('required') && vote.get('user.job').touched }">
              <label for="email" class="control-label block-label">
                  Job
                 <span *ngIf="vote.get('user.job').hasError('required') && vote.get('user.job').touched"> Ce champ est requis*</span>
              </label>
              <select formControlName="job"  class="form-control no-radius" id="job">

                <option value="">Sélectionnez votre job</option>
                <option value="1">Informaticien</option>
                <option value="2">Commercial</option>
                <option value="3">ARH</option>
                <option value="4">Autre</option>
              </select>
            </div>
          </div>
          <p>Votre taux de Satisfaction</p>
          <choices formControlName="satisfaction"></choices>

          <div class="form-group">
            <label for="commentaire" class="control-label block-label">
              Un commentaire ?
            </label>
            <textarea formControlName="commentaire" class="form-control no-radius" id="commentaire" cols="30" rows="3"></textarea>
          </div>
          <div style="display: none"> <!--border [borderColor]="'#f000ff'"-->
            <p>{{vote.value | json}}</p>
            <p>{{vote.get('user.email').errors >on}}</p>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-primary no-radius" [disabled]="vote.invalid">Enregistrer</button>
            </div>
          </div>
          <div border borderColor="red">
            {{vote.value | json}}
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="graph">
    <app-bar></app-bar>
  </div>
</div>
