.wrapper {
	background: #3A424F;
	color: #f4f4f4;
	margin: 0 auto;
	width: 100%;
	min-height: 650px;
}

.formulaire{
	background: #FFFFFF;
	min-height: 650px;
	color: #6E7790;
}

.flex {
	display: flex;
}

.graph, .formulaire{
	width: 50%;
}

.chart{
    height: 100px;
}
.graph{
  padding-top: 100px;
}
.sondage{
  padding: 10px;
}
.sondage{
  font-weight: normal;
}
.no-radius{
  border-radius: 0px !important;
}
.active {
  color: #555;
  background-color: #e7e7e7;
}
.navbar{
  margin-bottom: 0 !important;
}
